<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/estilo.css" /><title>FastShop</title>
</head>
<body>

<nav th:replace="fragments/header :: header"></nav>

<div class="container">
    <div class="row">
    
    <div class="alert alert-success" role="alert" th:if="${loginError}">
  		<span>Wrong user or password</span>
	</div>
	
      <form method="POST" action="/usuario/login" class="mx-auto">
        <h6 class="mb-2">
          <strong>Acesse com seu email</strong>
        </h6>
        <div class="form-group mt-3">
          <label for="email">Email</label>
          <input style="width: 550px" type="text" size="150" class="form-control" name="username" placeholder="Digite o seu e-mail">
        </div>
        <div class="form-group mt-3">
          <label for="senha">Senha</label>
          <input style="width: 550px" type="password" class="form-control" name="password" placeholder="Digite a sua senha">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck">
          <label class="form-check-label" for="dropdownCheck">
            Lembre-se de mim
          </label>
        </div>
        <button type="submit" class="btn btn-primary btn-dark float-right" title="Login">Logar</button>
      </form>
    </div>
  </div>


<footer th:replace="fragments/footer :: footer">Footer</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>