<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/estilo.css" />
</head>
<body>

<!--Rodapé-->
<footer id="rodape" class="pt-5 mt-5" th:fragment="footer">
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<span class="img-logo">FastShop</span>
		</div>
		<div class="col-md-3">
			<h4>Empresa</h4>
			<ul class="nav flex-column">
				<li class="nav-item"><a href="" class="nav-link">Sobre</a></li>
				<li class="nav-item"><a href="" class="nav-link">Empregos</a>
				</li>
				<li class="nav-item"><a href="" class="nav-link">Imprensa</a>
				</li>
				<li class="nav-item"><a href="" class="nav-link">Novidades</a>
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4>Links Uteis</h4>
			<ul class="nav flex-column">
				<li class="nav-item"><a href="" class="nav-link">Ajuda</a></li>
				<li class="nav-item"><a href="" class="nav-link">Atendimento</a>
				</li>
				<li class="nav-item"><a href="" class="nav-link">Política
						de Privacidade</a></li>
			</ul>
		</div>

		<div class="col-md-4">
			<ul class="nav">
				<li class="nav-item"><a href="" class="nav-link"> <img
						src="/img/instagram.png">
				</a></li>
				<li class="nav-item"><a href="" class="nav-link"> <img
						src="/img/facebook.png">
				</a></li>
				<li class="nav-item"><a href="" class="nav-link"> <img
						src="/img/twitter.png">
				</a></li>
			</ul>
		</div>
	</div>
	<!--/.Row-->
</div>
<!--/.Container--> 
</footer>


</body>
</html>